@use 'color';


%profile {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem 30px;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    background-color: black;
    background-size: 100% 40%, cover;
    background-position: top;
    background-repeat: no-repeat;
    color: color.$color-four;
    opacity: 0.8;
}

%mini-profile {
    position: absolute;
    top: 55px;
    left: 70%;
    width: 30px;
    height: 30px;
    border: black 5px solid;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    .earth {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(/images/flag-raise.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 70%;
        
        .welcome {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 0 1rem 2rem;
            border-radius: 5px;
            background-color: color.$color-four;
            opacity: 0.8;
            width: 40%;
            height: 50%;

            p {
                font-size: 70%;
            }
        } 
    }

    .enemies{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 1rem 2rem;
        height: 30%;
        width: 100%;
        background-color: color.$color-five;

        a {
            text-decoration: none;
            color: color.$color-four;
        }
        
        .enemies-img{
            display: flex;
            width: 100%;
            height: 80%;
            gap: 10px;

            h4, p {
                position: absolute;
            }

            h4 {
                top: 50%;
                font-size: 14px;
            }

            p:nth-of-type(1) {
                top: 40%;
                font-size: 10px;
            }

            p:nth-of-type(2){
                top: 80%;
                font-size: 10px;
            }
        }

        .update-prof {
            @extend %profile;
            background-image: url(/images/helldivers-2-yellow.jpg);
        }

        .update-prof-mini {
            @extend %mini-profile;
            background-image: url(/images/blue-prof.avif);
        }

        .personal-prof {
            @extend %profile; 
            background-image: url(/images/galaxy-map.webp);
        }

        .personal-prof-mini {
            @extend %mini-profile;
            background-image: url(/images/Helldivers-gun.webp);
        }

        .orders-prof {
            @extend %profile; 
            background-image: url(/images/flag.png);
        }

        .orders-prof-mini {
            @extend %mini-profile;
            background-image: url(/images/salute.webp);
        }

        .term-prof {
            @extend %profile;           
            background-image: url(../images/terminids.webp);
        }

        .auto-prof {
            @extend %profile;
            background-image: url(/images/automatons.avif);                
        }

        .green-dot {
            color: green;
            border-radius: 50%;
        }

        .term-prof-mini {
            @extend %mini-profile;
            background-image: url(/images/Hunter.webp);
            background-color: tan; 
        }
                
        .auto-prof-mini {
            @extend %mini-profile;
            background-image: url(/images/auto-grunt.webp);
            background-size: 15px, cover;
            background-repeat: no-repeat;
            background-color: rgb(109, 157, 173);
        }

        .illum-prof {
            @extend %profile;
            background-image: url(/images/illuminates.jpg);
        }

        .illum-prof-mini {
            @extend %mini-profile;
            background-image: url(/images/voteless.webp);
        }
    }
}