@use '_color';
main {
    display: flex;
    max-width: 100%;
    height: 800px;
}

aside {
    
    padding: 1em;
    background-color: color.$color-two;
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        a{
            text-decoration: none;
            color: black;
        }
    }
}