header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

header {
  height: 5%;
  background-color: #827e7e;
  margin: 0;
}
header .header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-left: 5px;
}
header .header-left img {
  border: none;
  border-radius: 50px 50px;
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #FFC107;
}
header .header-left p {
  margin-left: 5px;
  font-size: 10px;
  color: #ffffff;
}
header .header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 8%;
  background-color: #FFC107;
}
aside img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
aside nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
aside nav a {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 30px;
  margin: 5px;
  border-radius: 5px;
  color: black;
  background-color: #d3d3d3;
  opacity: 0.8;
  width: 80%;
}
aside nav a:hover {
  opacity: 1;
}
aside .bottom {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  font-size: 12px;
}

.content .enemies .illum-prof, .content .enemies .auto-prof, .content .enemies .term-prof, .content .enemies .orders-prof, .content .enemies .personal-prof, .content .enemies .update-prof {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  background-color: black;
  background-size: 100% 40%, cover;
  background-position: top;
  background-repeat: no-repeat;
  color: white;
  opacity: 0.8;
}

.content .enemies .illum-prof-mini, .content .enemies .auto-prof-mini, .content .enemies .term-prof-mini, .content .enemies .orders-prof-mini, .content .enemies .personal-prof-mini, .content .enemies .update-prof-mini {
  position: absolute;
  top: 55px;
  left: 70%;
  width: 30px;
  height: 30px;
  border: black 5px solid;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.content .earth {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/flag-raise.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70%;
}
.content .earth .welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  background-color: #ffffff;
  opacity: 0.8;
  width: 40%;
  height: 50%;
}
.content .enemies {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  height: 30%;
  width: 100%;
  background-color: #d3d3d3;
}
.content .enemies a {
  text-decoration: none;
  color: #ffffff;
}
.content .enemies .enemies-img {
  display: flex;
  width: 100%;
  height: 80%;
  gap: 10px;
}
.content .enemies .enemies-img h4, .content .enemies p {
  position: absolute;
  font-size: 10px;
  text-align: left;
}
.content .enemies .enemies-img p:nth-of-type(1) {
  top: 70px;
}
.content .enemies .enemies-img p:nth-of-type(2) {
  top: 130px;
}
.content .enemies .update-prof {
  background-image: url(/images/helldivers-2-yellow.jpg);
}
.content .enemies .update-prof-mini {
  background-image: url(/images/blue-prof.avif);
}
.content .enemies .personal-prof {
  background-image: url(/images/flag.png);
}
.content .enemies .personal-prof-mini {
  background-image: url(/images/salute.webp);
}
.content .enemies .orders-prof {
  background-image: url(/images/flag.png);
}
.content .enemies .orders-prof-mini {
  background-image: url(/images/salute.webp);
}
.content .enemies .term-prof {
  background-image: url(../images/terminids.webp);
}
.content .enemies .auto-prof {
  background-image: url(/images/automatons.avif);
}
.content .enemies .green-dot {
  color: green;
  border-radius: 50%;
}
.content .enemies .term-prof-mini {
  background-image: url(/images/Hunter.webp);
  background-color: tan;
}
.content .enemies .auto-prof-mini {
  background-image: url(/images/auto-grunt.webp);
  background-size: 15px, cover;
  background-repeat: no-repeat;
  background-color: rgb(109, 157, 173);
}
.content .enemies .illum-prof {
  background-image: url(/images/illuminates.jpg);
}
.content .enemies .illum-prof-mini {
  background-image: url(/images/voteless.webp);
}

body {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

main {
  display: flex;
  max-width: 100%;
  height: 95%;
}/*# sourceMappingURL=style.css.map */